In [2]:
import pandas as pd
import random
import numpy

In [3]:
def generate_candidate_ranks(start, end, num):
    """
    start: beginning of rank range
    end: end of rank range
    num: number of ranks to generate per candidate
    
    random.randint: A random integer within the given range as parameters.
    """
    votes = [] 
    for j in range(num): 
        votes.append(random.randint(start, end)) 
    return votes

In [4]:
start_of_rank_range = 1
end_of_rank_range = 3
num_of_ranks = 1000

candidate_1 = generate_candidate_ranks(start_of_rank_range, end_of_rank_range, num_of_ranks)
candidate_2 = generate_candidate_ranks(start_of_rank_range, end_of_rank_range, num_of_ranks)
candidate_3 = generate_candidate_ranks(start_of_rank_range, end_of_rank_range, num_of_ranks)

In [5]:
ballots = {'Candidate_1': candidate_1,
           'Candidate_2': candidate_2,
           'Candidate_3': candidate_3,
        }

In [6]:
df = pd.DataFrame(ballots, columns = ['Candidate_0','Candidate_1', 'Candidate_2'])

In [ ]:
[1,        2,         3]
[2,        0,         3]
cand0 | cand1 |   cand2|

>>> [], cand0, cand2

In [6]:
df.head()

   Candidate_1  Candidate_2  Candidate_3
0            3            2            3
1            1            2            2
2            3            1            2
3            1            3            2
4            3            3            2

In [7]:
len(df)

1000

In [62]:
df = df[(df["Candidate_1"] != df['Candidate_2']) & (df["Candidate_1"] != df['Candidate_3']) ]

In [63]:
len(df)

447

In [64]:
df = df[(df["Candidate_2"] != df['Candidate_1']) & (df["Candidate_2"] != df['Candidate_3'])]

In [65]:
len(df)

232

In [77]:
df.head(40)

     Candidate_1  Candidate_2  Candidate_3
2              1            3            2
8              1            3            2
14             3            2            1
31             1            3            2
34             2            3            1
36             3            2            1
46             2            3            1
47             2            3            1
61             3            2            1
63             2            1            3
64             3            1            2
69             2            3            1
70             3            2            1
71             3            2            1
72             2            1            3
76             2            3            1
79             3            1            2
82             2            1            3
83             3            2            1
89             3            1            2
90             1            3            2
92             1            2            3
96             2            1            3
101            1            2            3
107            1            2            3
109            2            3            1
113            1            3            2
124            3            2            1
140            3            1            2
145            3            2            1
155            1            3            2
157            1            2            3
166            1            2            3
171            2            1            3
177            2            1            3
182            1            2            3
190            2            3            1
192            1            3            2
193            3            1            2
194            1            2            3

In [81]:
# We need to figure out 1000 unique combinations of 1, 2, 3

from itertools import permutations 

perm = permutations([1, 2, 3]) 
  
for i in list(perm): 
    print(i)
    
# There are only 6 possible combinations of [1, 2, 3]

(1, 2, 3)
(1, 3, 2)
(2, 1, 3)
(2, 3, 1)
(3, 1, 2)
(3, 2, 1)

In [ ]:
# Generator to generate different distributions of the above permutations

In [4]:
#it works ¯\_(ツ)_/¯
df = df[(df["Candidate_1"] != df['Candidate_2']) & (df["Candidate_1"] != df['Candidate_3']) 
df = df[(df["Candidate_2"] != df['Candidate_1']) & (df["Candidate_2"] != df['Candidate_3']) 
df = df[(df["Candidate_3"] != df['Candidate_2']) & (df["Candidate_3"] != df['Candidate_1']) 
df = df[(df["Candidate_4"] != df['Candidate_2']) & (df["Candidate_4"] != df['Candidate_3']) 
df = df[(df["Candidate_5"] != df['Candidate_2']) & (df["Candidate_5"] != df['Candidate_3'])

In [5]:
df.head()

    Candidate_1  Candidate_2  Candidate_3  Candidate_4  Candidate_5
31            2            4            3            5            1
35            1            4            5            2            3
40            1            4            3            5            2
62            1            3            2            4            5
84            2            1            3            4            5

In [6]:
df.shape

(38236, 5)

In [7]:
df = df.reset_index()
del df['index']

In [8]:
wrong_votes = df.sample(frac =.1)

wrong_votes[['Candidate_1','Candidate_2','Candidate_3','Candidate_4','Candidate_5']] = 0
df.update(wrong_votes)

df.head(20)

    Candidate_1  Candidate_2  Candidate_3  Candidate_4  Candidate_5
0           2.0          4.0          3.0          5.0          1.0
1           1.0          4.0          5.0          2.0          3.0
2           1.0          4.0          3.0          5.0          2.0
3           1.0          3.0          2.0          4.0          5.0
4           0.0          0.0          0.0          0.0          0.0
5           1.0          5.0          4.0          2.0          3.0
6           2.0          3.0          5.0          1.0          4.0
7           2.0          5.0          1.0          4.0          3.0
8           0.0          0.0          0.0          0.0          0.0
9           2.0          4.0          5.0          1.0          3.0
10          5.0          3.0          2.0          4.0          1.0
11          3.0          4.0          5.0          1.0          2.0
12          1.0          3.0          4.0          5.0          2.0
13          4.0          5.0          1.0          2.0          3.0
14          3.0          5.0          1.0          4.0          2.0
15          0.0          0.0          0.0          0.0          0.0
16          4.0          2.0          1.0          5.0          3.0
17          0.0          0.0          0.0          0.0          0.0
18          5.0          3.0          2.0          4.0          1.0
19          2.0          4.0          5.0          3.0          1.0

In [9]:
# I think we should talk a bit about the noise stats during next meeting.